<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCaETMLHNr-7byzxHxIuMKyNgQIS_Iz3g8",
    authDomain: "fastparcel-75843.firebaseapp.com",
    projectId: "fastparcel-75843",
    storageBucket: "fastparcel-75843.appspot.com",
    messagingSenderId: "623427609842",
    appId: "1:623427609842:web:1bb75dbf6b20809d59dc6b"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>